In [31]:
!pip install kaggle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (2025.8.3)
Requirement already satisfied: charset-normalizer in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (3.3.2)
Requirement already satisfied: idna in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (6.32.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: setuptools>=21.0.0 in c:\program files\python311\lib\site-packages (from kaggle) (65.5.0)
Requirement already satisfied: six>=1.10 in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (4.66.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)

In [32]:
!pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (25.2)

In [33]:
!python -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\kunalnegi\appdata\roaming\python\python311\site-packages (25.2)

In [34]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

The syntax of the command is incorrect.
'cp' is not recognized as an internal or external command,
operable program or batch file.
'chmod' is not recognized as an internal or external command,
operable program or batch file.

In [35]:
import os
import shutil

# Create the .kaggle folder in your home directory
os.makedirs(os.path.expanduser("~/.kaggle"), exist_ok=True)

# Copy kaggle.json into that folder
shutil.copy("kaggle.json", os.path.expanduser("~/.kaggle/kaggle.json"))

# Set permissions (Windows doesn’t support chmod like Linux, but Kaggle works fine without it)

'C:\\Users\\kunalnegi/.kaggle/kaggle.json'

In [36]:
!kaggle datasets download -d kazanova/sentiment140

Dataset URL: https://www.kaggle.com/datasets/kazanova/sentiment140
License(s): other
sentiment140.zip: Skipping, found more recently modified local copy (use --force to force download)

In [37]:
import zipfile

with zipfile.ZipFile("sentiment140.zip", "r") as zip_ref:
    zip_ref.extractall("sentiment140")

In [38]:
import pandas as pd

df = pd.read_csv("sentiment140/training.1600000.processed.noemoticon.csv", encoding="latin-1")
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [39]:
df

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [40]:
#importing the dependencies

In [41]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [43]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kunalnegi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [44]:
#printing the stopwords in english
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [45]:
#data processing

In [46]:
twitter_data=df

In [47]:
twitter_data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [48]:
#checking h=the nuber of rows and columns

In [49]:
twitter_data.shape

(1599999, 6)

In [50]:
#naming the columns
column_names=['target','id','date','flag','user','text']
twitter_data = pd.read_csv("sentiment140/training.1600000.processed.noemoticon.csv",names=column_names ,encoding="latin-1")

In [51]:
#counting the number of missing values
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [52]:
#checking the distribution of target column
twitter_data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [53]:
#convert the target 4 to 1
twitter_data.replace({'target':{4:1}},inplace=True)

In [54]:
twitter_data['target'].value_counts()
#0->negative 1->positive

target
0    800000
1    800000
Name: count, dtype: int64

In [55]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re

# Download stopwords (only needed once)
nltk.download('stopwords')

# Define stop words and stemmer
stop_words = set(stopwords.words('english'))
port_stem = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kunalnegi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [56]:

port_stem = PorterStemmer()
def stemming(content):
    content = re.sub('[^a-zA-Z]', ' ', content)  # remove non-letters
    content = content.lower()                     # convert to lowercase
    words = content.split()                       # split into words
    words = [port_stem.stem(word) for word in words if word not in stop_words]
    return ' '.join(words)

In [57]:
twitter_data['stemmed_content']=twitter_data['text'].apply(stemming)

In [58]:
print(twitter_data['stemmed_content'])

0          switchfoot http twitpic com zl awww bummer sho...
1          upset updat facebook text might cri result sch...
2          kenichan dive mani time ball manag save rest g...
3                            whole bodi feel itchi like fire
4                              nationwideclass behav mad see
                                 ...
1599995                           woke school best feel ever
1599996    thewdb com cool hear old walt interview http b...
1599997                         readi mojo makeov ask detail
1599998    happi th birthday boo alll time tupac amaru sh...
1599999    happi charitytuesday thenspcc sparkschar speak...
Name: stemmed_content, Length: 1600000, dtype: object

In [59]:
#sepearting the data and label
X=twitter_data['stemmed_content'].values
Y=twitter_data['target'].values

In [60]:
print(X)
print(Y)

['switchfoot http twitpic com zl awww bummer shoulda got david carr third day'
 'upset updat facebook text might cri result school today also blah'
 'kenichan dive mani time ball manag save rest go bound' ...
 'readi mojo makeov ask detail'
 'happi th birthday boo alll time tupac amaru shakur'
 'happi charitytuesday thenspcc sparkschar speakinguph h']
[0 0 0 ... 1 1 1]

In [63]:
#train test split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [64]:
print(X.shape,X_train.shape,X_test.shape)

(1600000,) (1280000,) (320000,)

In [65]:
#coverting the textual data to numerical data
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [ ]:
model = LogisticRegression(max_iter=1000)

In [ ]:
model.fit(X_train,Y_train)

In [ ]:
#model evaluation accuracy score on training data
X_train_prediction=model.predict(X_train)
training_data-accuracy = accuracy_score(Y_train,X_train_prediction)

In [ ]:
print('Accuracy score on the training data :',training_data_accuracy)

In [ ]:
X_test_prediction=model.predict(X_test)
test_data-accuracy = accuracy_score(Y_test,X_test_prediction)

In [ ]:
#saving the trained model
import pickle

In [ ]:
filename = 'trained_model.sav'
pickle.dump(model,open(filename,'wb'))

In [ ]:
#using the save
loaded_model = pickle.load(open('/content/trained_model.sav','rb'))

In [ ]:
X_new = X_test[200]
print(Y_test[200])

prediction = model.predict(X_new)
print(prediction)

if(prediction[0]==0):
    print('Negative Tweet')

else:
    print('Postive Tweet')